body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 600px; 
    margin: 0 auto; 
    border: 3px solid #931420; 
    background-color: #fffded; 
}
header img {
    float: left;
    padding-left: 30px; 
    padding-right: 30px; 
}

header {
    border-bottom: 3px solid #931420; 
    padding-top: 1.5em;
    padding-bottom: 2em; 
}


header h2, header h3 {
    text-indent: 0; 
}

main {
    clear: left;
    padding-left: 30px; 
    padding-right: 30px;
}

main h1 {
    border-top: 3px solid #931420;
    border-bottom: 3px solid #931420;
}

footer {
    background-color: #931420; 
}

footer p {
    color: white; 
}
